.modal-title{
    color:#e9bc8fd8;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    padding:10px;
    margin-top: 20px;
}

.modal-desc{
    color: #e9bc8fd8;
    font-family: 'Open Sans', sans-serif;
    padding:10px;
}

.modal-links{
    padding-top: 10px;
    margin-left: 10px;
}

i{
    color:#e9bc8fd8;
}

.fa-user{
    padding-left: 5px;

}

#port{
    padding-top:10px;
    margin-left: 5px;
}