//https://codeconvey.com/horizontal-news-ticker-css/

#ticker-wrapper {
    position: inline-block;
    width: 100%;
    overflow: hidden;
    height: 3rem;
    background-color: rgba(214, 43, 71, 0);
  }

  #ticker-wrapper .ticker-move {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 60s;
    animation-duration: 60s;
  }

  #ticker-wrapper .ticker-item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 30px;
    color: rgba(181, 215, 231, 0.795);
    font-family: 'Bebas Neue', cursive;

  }

  .ticker-item:hover {
    cursor: pointer;
  }

  @-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  @keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }